In [ ]:
# import pandas as pd
# from sodapy import Socrata
# import requests
 
#MyAppToken = "6HJGRvSQmMdqd0jZRaMC4sVif"
#url_endpoint = "https://data.sfgov.org/resource/9v2m-8wqu.json"
 
# Example authenticated client (needed for non-public datasets):
#client = Socrata("data.sfgov.org", MyAppToken, username ="manel.khan@gmail.com", password = "Dataclass22")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
#results = client.get("9v2m-8wqu", limit=2000)

# Convert to pandas DataFrame
#results_df = pd.DataFrame.from_records(results)

In [8]:
import pandas as pd
from sodapy import Socrata
import json

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.sfgov.org", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.sfgov.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.

results = client.get("9v2m-8wqu", limit = 50000)
#print(json.dumps(results, indent=4, sort_keys=True))

with open('crime2017_50k.json', 'w') as outfile:
    json.dump(results, outfile)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
crime_df = pd.read_json("crime2017_2000.json")
print(crime_df.shape)
crime_df.head(4)

(2000, 13)

,address,category,date,dayofweek,descript,incidntnum,location,pddistrict,pdid,resolution,time,x,y
0,OAK ST / MASONIC AV,VEHICLE THEFT,2017-12-30,Saturday,STOLEN MOTORCYCLE,171055811,"{'latitude': '37.77208097723925', 'human_addre...",PARK,17105581107023,NONE,23:55,-122.445718,37.772081
1,800 Block of BRYANT ST,BURGLARY,2017-12-30,Saturday,"BURGLARY,RESIDENCE UNDER CONSTRT, UNLAWFUL ENTRY",180004588,"{'latitude': '37.775420706711', 'human_address...",SOUTHERN,18000458805143,NONE,23:45,-122.403405,37.775421
2,16TH ST / BRYANT ST,LARCENY/THEFT,2017-12-30,Saturday,PETTY THEFT FROM LOCKED AUTO,171053962,"{'latitude': '37.765605863870505', 'human_addr...",MISSION,17105396206243,NONE,23:43,-122.410489,37.765606
3,16TH ST / BRYANT ST,VANDALISM,2017-12-30,Saturday,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",171053962,"{'latitude': '37.765605863870505', 'human_addr...",MISSION,17105396228160,NONE,23:43,-122.410489,37.765606

In [5]:
crime_df_nl = pd.read_json("crime2017.json")
print(crime_df_nl.shape)
crime_df_nl.head(4)

(1000, 13)

,address,category,date,dayofweek,descript,incidntnum,location,pddistrict,pdid,resolution,time,x,y
0,OAK ST / MASONIC AV,VEHICLE THEFT,2017-12-30,Saturday,STOLEN MOTORCYCLE,171055811,"{'latitude': '37.77208097723925', 'human_addre...",PARK,17105581107023,NONE,23:55,-122.445718,37.772081
1,800 Block of BRYANT ST,BURGLARY,2017-12-30,Saturday,"BURGLARY,RESIDENCE UNDER CONSTRT, UNLAWFUL ENTRY",180004588,"{'latitude': '37.775420706711', 'human_address...",SOUTHERN,18000458805143,NONE,23:45,-122.403405,37.775421
2,16TH ST / BRYANT ST,LARCENY/THEFT,2017-12-30,Saturday,PETTY THEFT FROM LOCKED AUTO,171053962,"{'latitude': '37.765605863870505', 'human_addr...",MISSION,17105396206243,NONE,23:43,-122.410489,37.765606
3,16TH ST / BRYANT ST,VANDALISM,2017-12-30,Saturday,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",171053962,"{'latitude': '37.765605863870505', 'human_addr...",MISSION,17105396228160,NONE,23:43,-122.410489,37.765606

In [7]:
crime_df_10k = pd.read_json("crime2017_10k.json")
print(crime_df_10k.shape)
crime_df_10k.head(4)

(10000, 13)

,address,category,date,dayofweek,descript,incidntnum,location,pddistrict,pdid,resolution,time,x,y
0,OAK ST / MASONIC AV,VEHICLE THEFT,2017-12-30,Saturday,STOLEN MOTORCYCLE,171055811,"{'latitude': '37.77208097723925', 'human_addre...",PARK,17105581107023,NONE,23:55,-122.445718,37.772081
1,800 Block of BRYANT ST,BURGLARY,2017-12-30,Saturday,"BURGLARY,RESIDENCE UNDER CONSTRT, UNLAWFUL ENTRY",180004588,"{'latitude': '37.775420706711', 'human_address...",SOUTHERN,18000458805143,NONE,23:45,-122.403405,37.775421
2,16TH ST / BRYANT ST,LARCENY/THEFT,2017-12-30,Saturday,PETTY THEFT FROM LOCKED AUTO,171053962,"{'latitude': '37.765605863870505', 'human_addr...",MISSION,17105396206243,NONE,23:43,-122.410489,37.765606
3,16TH ST / BRYANT ST,VANDALISM,2017-12-30,Saturday,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",171053962,"{'latitude': '37.765605863870505', 'human_addr...",MISSION,17105396228160,NONE,23:43,-122.410489,37.765606

In [9]:
crime_df_50k = pd.read_json("crime2017_50k.json")
print(crime_df_50k.shape)
crime_df_50k.head(4)

(50000, 13)

,address,category,date,dayofweek,descript,incidntnum,location,pddistrict,pdid,resolution,time,x,y
0,OAK ST / MASONIC AV,VEHICLE THEFT,2017-12-30,Saturday,STOLEN MOTORCYCLE,171055811,"{'latitude': '37.77208097723925', 'human_addre...",PARK,17105581107023,NONE,23:55,-122.445718,37.772081
1,800 Block of BRYANT ST,BURGLARY,2017-12-30,Saturday,"BURGLARY,RESIDENCE UNDER CONSTRT, UNLAWFUL ENTRY",180004588,"{'latitude': '37.775420706711', 'human_address...",SOUTHERN,18000458805143,NONE,23:45,-122.403405,37.775421
2,16TH ST / BRYANT ST,LARCENY/THEFT,2017-12-30,Saturday,PETTY THEFT FROM LOCKED AUTO,171053962,"{'latitude': '37.765605863870505', 'human_addr...",MISSION,17105396206243,NONE,23:43,-122.410489,37.765606
3,16TH ST / BRYANT ST,VANDALISM,2017-12-30,Saturday,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",171053962,"{'latitude': '37.765605863870505', 'human_addr...",MISSION,17105396228160,NONE,23:43,-122.410489,37.765606

In [10]:
crime_df_cat = pd.concat([crime_df,crime_df_10k,crime_df_nl,crime_df_50k]).drop_duplicates(subset = "pdid").reset_index(drop=True)
crime_df_cat.shape

(50000, 13)

In [11]:
del crime_df_cat["location"]

In [12]:
crime_df_cat.head()

,address,category,date,dayofweek,descript,incidntnum,pddistrict,pdid,resolution,time,x,y
0,OAK ST / MASONIC AV,VEHICLE THEFT,2017-12-30,Saturday,STOLEN MOTORCYCLE,171055811,PARK,17105581107023,NONE,23:55,-122.445718,37.772081
1,800 Block of BRYANT ST,BURGLARY,2017-12-30,Saturday,"BURGLARY,RESIDENCE UNDER CONSTRT, UNLAWFUL ENTRY",180004588,SOUTHERN,18000458805143,NONE,23:45,-122.403405,37.775421
2,16TH ST / BRYANT ST,LARCENY/THEFT,2017-12-30,Saturday,PETTY THEFT FROM LOCKED AUTO,171053962,MISSION,17105396206243,NONE,23:43,-122.410489,37.765606
3,16TH ST / BRYANT ST,VANDALISM,2017-12-30,Saturday,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",171053962,MISSION,17105396228160,NONE,23:43,-122.410489,37.765606
4,0 Block of OTIS ST,LARCENY/THEFT,2017-12-30,Saturday,GRAND THEFT FROM UNLOCKED AUTO,176339375,SOUTHERN,17633937506224,NONE,23:32,-122.419235,37.772727

In [15]:
crime_df_cat["resolution"].value_counts()

NONE                                      38117
ARREST, BOOKED                            11108
JUVENILE BOOKED                             347
UNFOUNDED                                   301
EXCEPTIONAL CLEARANCE                        76
ARREST, CITED                                24
CLEARED-CONTACT JUVENILE FOR MORE INFO       12
JUVENILE DIVERTED                             6
PSYCHOPATHIC CASE                             4
NOT PROSECUTED                                3
LOCATED                                       2
Name: resolution, dtype: int64